.main {
  /* margin-left: 10px */
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px;
  margin: 0;
  width: 100vw;
  text-decoration: none;
  box-sizing: border-box;
}

.made {
    /* padding-top: 20px; */
    display: inline-block;
    background-color: rgb(32, 242, 39);
    color: rgb(1, 1, 1);
    padding: 10px;
    margin: 0;
    width: 100vw;
    text-decoration: none;
    box-sizing: border-box;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.recipe-item {
  text-align: center;
  position: relative;
}

.recipe-item a {
  margin-right: 220px;
  position: flex;
  padding: 10px;
  color: rgb(17, 161, 22);
  text-decoration: rgb(4, 124, 4);
  font-size: larger;
}

.recipe-item img {
  display: block;
  width: 100%;
  height: auto;
}

.rating {
  position: flex;
  margin-right: 300px;
}



.container {
    display: flex;
  }
  
.container1,
.container2 {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
  }
.container1 ul li:nth-child(even),
.container2 ul li:nth-child(even) {
    background-color: #f2f2f2;
  }
  
.container2 {
    margin-left: 20px; /* Adjust the spacing as needed */
  }

.amount, .food-item {
    margin-inline: 5px;
    font-weight: bold;
  }

body {
    background: linear-gradient(135deg, #505999, #0f0e12);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  h1 {
    color: rgb(132, 132, 132);
  }